# Ignore python virtual environments or system caches
__pycache__/
.ipynb_checkpoints/
vnv/
.env

# Ignore your data files (protect proprietary data)
*.csv
*.xlsx

# Ignore your heavy model binaries (GitHub has a 100MB file limit)
*.joblib

test.ipynb

kaggle_dataset.py

improved_model.ipynb

scraper.cpython-311.pyc

predictor.cpython-311.pyc

predictor_ML.py

verifier.cpython-311.pyc

summer trainin data to be filled by student after training.xlsx.pdf

